<h1>Contact Us</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :email %>:
  <%= f.text_field :email %><br />

  <%= f.label :message %>:
  <%= f.text_field :message %><br />

  <%= f.submit "Submit Support Message" %>
<% end %>